.boite2{
    display: flexbox;
    margin: 0em;
    padding: 0em;
    margin-top: 4em;
}

header{
    background-color: rgba(211, 211, 211, 0.795);
}
#bandeau {
display: flex;
flex-direction: row;
color:darkred;
box-shadow:0.2em 0.2em 0.3em rgba(19, 19, 95, 0.521);
height: 10%;

}

#accueil{
    padding-left: 1em;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#qui{
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 39em;
    border: darkred;
    border-style: solid;
    border-radius: 10em; 
    background-color: white;
    margin-bottom: 3.2em;
    margin-top: 0.7em;

}




#competences{
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.3em;
    border: darkred;
    border-style: solid;
    border-radius: 10em; 
    background-color: white;
    margin-bottom: 3.2em;
    margin-top: 0.7em;
    




}

#pro{
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.3em;
    border: darkred;
    border-style: solid;
    border-radius: 10em; 
    background-color: white;
    margin-bottom: 3.2em;
    margin-top: 0.7em;



}
#formations{
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.3em;
    border: darkred;
    border-style: solid;
    border-radius: 10em; 
    background-color: white;
    margin-bottom: 3.2em;
    margin-top: 0.7em;



}




body{
background-color: rgb(90, 90, 90);

}

#images{background-image: url(videos.jpg);
    opacity: 10% ;
}

.boite2{
display: flex;

}


#bienvenue{
color: white;
text-align: center;

}